.contact {
    width: 100%;
    height: 100vh;
    background-color: 236, 229, 221;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-wrapper {
    width: 60%;
    height: 65rem;
    display: flex;


    box-shadow: 0 3rem 7rem rgba(0, 0, 0, 0.5);
}

.contact-left {
    width: 35%;
    background: linear-gradient(rgba(205, 61, 207, 0.6), rgba(36, 5, 5, 0.972)), url("/Resources/contacto fondo.jpg") center no-repeat;
    background-size: cover;
    background-position: 60% 100%;
    background-attachment: fixed;
}

.contact-right {
    width: 65%;
    background-color: #eee;
    padding: 3rem 10rem 10rem 10rem;
}

.contact-heading {
    font-family: var(--font-menu);
    font-size: 6rem;
    font-weight: 300;
    color:rgb(111, 48, 95);
    margin-bottom: 5rem;
    text-align: center;

}

.contact-right form {

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group {
    position: relative;
}

.field {
    width: 45rem;
    background-color: transparent;
    border: none;
    border-bottom: .2rem solid #636363;
    margin: 3rem 0;
    padding: 1rem 1rem 1rem 0;
    font-family: var(--font-paragraph);
    font-size: 1.6rem;
    color: #4b4b4b;
    outline: none;
    transition: border-bottom-style .3s ease-out;
}

.input-group input {
    height: 4rem;
}

.input-group textarea {
    max-height: 7rem;
    resize: none;
}



.input-group label {
    position: absolute;
    left: 0;
    font-family: var(--font-menu);
    font-size: 1.6rem;
    color: #4b4b4b;
    text-transform: uppercase;
    pointer-events: none;
    transition: all 0.3s ease-in;
}


.input-label {
    bottom: 3rem;
   

}

.message {
    bottom: 6rem;
}

label {
    transform: translateY(-3.5rem);
    font-size: 1.2rem;

}

.submit-btn {
    border: none;
    background-color: #d349a3;
    width: 10rem;
    height: 4rem;
    color: #eee;
    font-family: var(--font-button);
    font-size: 1.7rem;
    font-weight: 500;
    transition: .2s;
    margin-top: 2rem;


    letter-spacing: .2rem;
    text-transform: uppercase;
    cursor: pointer;
    text-shadow: 0 .1rem .3rem rgba(0, 0, 0, 0.5);
    box-shadow: 0 .1rem .3rem rgba(0, 0, 0, .4);

}

.submit-btn:hover {
    background-color: #a32466;
    color: #eee;

}
.hidden{
    visibility: hidden;
    height: 0;
}